.video-player{
    width: 100%;
    height: 500px;
}
.description{
    /* width: 700px;
    padding-right: 4rem !important; */
}

.course-list{
    height: 100vh;
    overflow-y: scroll;
}

.list-sub{
    font-size: 18px;
    font-weight: 400;
    padding: 20px 10px;
}
.play-title > i{
    font-size: 13px;
}
.card-body{
    position: relative;
}
.co{
    min-height: 100vh;
    overflow-y: scroll;
}
.list-sub{
    border-top:1px solid #f1f1f1 ;
    border-bottom:1px solid #f1f1f1 ;
}
.course-list-images{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 10px auto;
}
.tab-pane{
    padding-top:1.5rem ;
}
.list-sub{
    cursor: pointer;
}
.tab-pane > p{
    font-size: 17px;
    font-family: 'Rubik';
}
.active-watching{
    background-color: #cdc9c347;
    cursor: pointer;
    color: #555555;
}
.youtube-video.hide-player{
    display: none;
}

.collapse-btn-list{
    text-decoration: none !important;
    
}
.collapse-btn-list:hover{
    text-decoration: none !important;
    
}
.collapse-btn-list:hover > span{
    color: #555555;

}
.collapse-btn-list:focus{
    outline: none;
    box-shadow: none;
}

.video-link{
    color: #000000;
}
.video-link:hover{
    color: #000000;
}

.border-red{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    /* width: 100%; */
    background-color: red;

}

.youtube-video {
    position: relative;

}
.nextVideoQuestion{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nextVideoQuestion.show{
    display: flex;
}


